[submodule "mission_planner"]
	path = mission_planner
	url = https://github.com/KMU-KUUVe/mission_planner.git
[submodule "state_cpp_msg"]
	path = state_cpp_msg
	url = https://github.com/KMU-KUUVe/state_cpp_msg.git
[submodule "lane_detector"]
	path = lane_detector
	url = https://github.com/KMU-KUUVe/lane_detector.git
[submodule "ackermann_msgs"]
	path = ackermann_msgs
	url = https://github.com/KMU-KUUVe/ackermann_msgs.git
[submodule "platform_control"]
	path = platform_control
	url = https://github.com/KMU-KUUVe/platform_control.git
[submodule "parking"]
	path = parking
	url = https://github.com/KMU-KUUVe/parking.git
